body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

/*partie de gauche*/

aside 
{
	background-color: #fbc531;
}

.photo
{
	text-align: center;
}

.rounded-circle
{
	border: solid 1px black;
}

.contact,.apm, .loisirs
{
	background-color: #2f3640;
    text-align: center;
    color: #fbc531;
    font-weight: 450;
    font-size: 18px;
    text-transform: uppercase;
}
    
.coordonnees, .presentation
{
	padding-top: 20px;
	padding-left: 20px;
}

.mail, .tél
{
	color: #212529;
}

.icones
{
	display: flex;
    justify-content: space-evenly;
}

.fas.fa-running
{ 
    font-size: 37px;
    font-weight: 600;
    color: black;
    padding-left: 7px;
    padding-top: 1px;
    padding-right: 2px;
}

.fas.fa-biking
{
	font-size: 30px;
    font-weight: 600;
    color: black;
}

/*partie de droite*/

header, .photo
{
	padding-top: 50px;
	padding-bottom: 50px;
}

h1 span
{
	color: #fbc531;
	font-weight: 300
}

p span
{
	border-bottom: solid;
	border-color: #fbc531;
	border-width: 1px;
}

.titre
{
	font-size: 18px;
	font-weight: 600;
}

.formation, .experience, .competence
{
	border-bottom: solid;
	border-color: #fbc531;
	border-width: 1px;
	margin-right: 0px;
}

i.fas.fa-circle
{
	font-size: 8px;
	color: #fbc531;
	padding-top: 10px;
	text-align: -webkit-center;
}

.fas.fa-dot-circle
{
	font-size: 11px;
	font-weight: 500;
	color: #fbc531;
	padding-top: 10px;
	text-align: -webkit-center;	
}

i.fas.fa-graduation-cap, .fas.fa-briefcase, .fas.fa-check-square
{
    margin-right: 20px;
    font-size: 25px;
    color: #fbc531;
}
    
.container 
{
	border: solid;
    border-width: 1px;
    border-color: #dcdde1;
}

.h1-custom
{
	font-weight: 250;
	font-size: 40px;
}

b
{
	font-size: 15px;
	font-weight: 600;
}

li
{
	font-weight: 600;
	font-size: 13px;
}

col-xs ml-5
{
	display: none;
}












