body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

/*partie de gauche*/

aside 
{
	background-color: #fbc531;
	
}


.photo

{
	text-align: center;
}

.rounded-circle
{
	border: solid 1px black;
}

.contact,.apm, .loisirs
{
	background-color: #2f3640;
    text-align: center;
    color: #fbc531;
    font-weight: 450;
    text-transform: uppercase;
}
    
.coordonnées, .presentation
{
	padding-top: 20px;
	padding-left: 20px;
}

.mail, .tél
{
	color: #212529;
}

.icones
{
	display: flex;
    justify-content: space-evenly;
   
}

.fas.fa-running
{ 
    font-size: 37px;
    font-weight: 600;
    color: black;
}

.fas.fa-biking
{
	font-size: 30px;
    font-weight: 600;
    color: black;
}


/*partie de droite*/

header, .photo
{
	padding-top: 50px;
	padding-bottom: 50px;
}


h1 span
{
	color: #fbc531;
}

p span
{
	border-bottom: solid;
	border-color: #fbc531;
	border-width: 1px;
}

.titre
{
	font-size: 17px;
}

.Formation, .Experience, .Compétence
{
	border-bottom: solid;
	border-color: #fbc531;
	border-width: 1px;
	margin-right: 0px;
}


i.fas.fa-circle, .fas.fa-dot-circle
{
	font-size: 9px;
	color: #fbc531;
	padding-top: 10px;
	text-align: -webkit-center;
}

i.fas.fa-graduation-cap, .fas.fa-briefcase, .fas.fa-check-square
{
	margin-left: 15px;
    margin-right: 20px;
    font-size: 20px;
    color: #fbc531;
}
    
.container 
{
	border: solid;
    border-width: 1px;
    border-color: #dcdde1;
}

.h1-custom
{
	font-weight: 200;
}

b
{
	font-size: 14px;
}














